@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    /* Fonte */
    --main-font: 'Montserrat', sans-serif;
    /* Tamanhos */
    --size-big: 32px;
    --size-medium: 24px;
    --size-standard: 16px;
    --size-small: 14px;
    /* Cores */
    --black-green:#050805;
    --very-dark-green: #0c140d;
    --dark-green: #111D13 ;
    --mid-dark-green: #1e251f;
    --mid-light-green: #3d583f;
    --light-green: #688d6d;
    --very-light-green: #88af8f;
    --white-green: #E1F1E3;
}

/* Corpo da página */
body {
    height: 100vh;
    width: 100vw;
    background-color: var(--black-green);
    color: var(--white-green);
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--size-standard);
    font-family: var(--main-font);
    grid-template-rows: 20% auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "title"
    "content"
    ;
    overflow: hidden;
}

/* Intro da página */
.intro {
    box-sizing: border-box;
    height: 100%;
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.page-title {
    color: var(--very-light-green);
    font-size: var(--size-big);
}

.division {
   width: 100%;
   height: 1px;
   border: none;
   background-color: var(--dark-green);
   box-shadow: 0 3px 4px var(--very-dark-green);
}

/* Conteúdo Principal*/
.content-container {
    box-sizing: border-box;
    grid-area: content;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas: 'input box';
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 3rem 5rem 3rem;
}

/* Painel de controle */
.control-panel {
    box-sizing: border-box;
    grid-area: input;
    width: 100%;
    height: 450px;
    /* margin: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    background-color: var(--very-dark-green);
    padding: 2rem;
    border-radius: 5px;
}

/* Controles do border-radius*/
.range-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

.border-input {
    appearance: none;
    background-color: var(--black-green);
    border: none;
    box-shadow: 0 2px 3px var(--black-green);
    border-radius: 3px;
    height: 2px;
    width: 90%;
}

.border-input::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: var(--mid-light-green);
    border-radius: 50%;
    cursor: pointer;
}

/*Controles do tamanho */
.sizing-input {
    box-sizing: border-box;
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'square rectangle';
    justify-content: center;
    align-items: center;
}

.square-button-box {
    grid-area: square;
}

.rectangle-button-box {
    grid-area: rectangle;
}

.sizing-input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 100%;
}

.square-button, .rectangle-button {
    background-color: var(--mid-light-green);
    border: 1px solid var(--very-dark-green);
    color: var(--white-green);
    font-family: var(--main-font);
    border-radius: 3px;
    box-shadow: 0 2px 3px var(--black-green);
    cursor: pointer;
}

.square-button {
    width: 50px;
    height: 50px;
}

.rectangle-button {
    width: 80px;
    height: 50px;
}

.shape-dimension {
    font-size: calc(var(--size-small) - 4px);
    font-weight: 400;
    color: var(--light-green);
    text-align: center;
}

.for-1920, .for-450 {
    display: none;
}

/* Caixa Mutável */
.box-container {
    box-sizing: border-box;
    grid-area: box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mutable-box {
    width: 450px;
    height: 450px;
    box-sizing: border-box;
    background-color: var(--mid-dark-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    font-size: var(--size-medium);
    transition: width 0.5s;
}

.copy-button {
    cursor: pointer;
    background-color: var(--dark-green);
    color: var(--white-green);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: var(--size-small);
    padding: .3rem 1rem;
    border: 1px solid var(--very-dark-green);
    border-radius: 3px;
    box-shadow: 0 3px 4px var(--black-green);
}

/*Tamanhos diferentes para a caixa*/
.square-shape {
    width: 450px;
    height: 450px;
}

.rectangle-shape {
    width: 700px;
    height: 450px;
}

/* Telas 1920x1080 */

@media screen and (min-width: 1920px) {
    /* Corpo da página */
    body {
        grid-template-rows: 25% auto;
    }

    /* Intro da página */
    .intro {
        padding-bottom: 2rem;

    }

    .page-title {
        font-size: calc(var(--size-big) * 1.7);
        font-weight: 500;
        padding-bottom: 2rem;
    }

    .division {
        height: 3px;
        box-shadow: 0 5px 6px var(--very-dark-green);
    }

    /* Conteúdo Principal*/
    .content-container {
        padding: 0 4rem 8rem 4rem  ;
    }

    /* Painel de controle */
    .control-panel {
        width: 100%;
        height: 100%;
        margin: 0;
        font-size: var(--size-medium);
        font-weight: 500;
    }

     /* Controles do border-radius*/
    .range-input {
        gap: 2rem;
    }

    .border-input {
        height: 3px;
        width: 85%;
        box-shadow: 0 4px 5px var(--black-green);
    }

    .border-input::-webkit-slider-thumb {
        height: 20px;
        width: 20px;
    }

    /*Controles do tamanho */
    .sizing-input-box {
        row-gap: 1.5rem;
    }

    .square-button {
        width: 90px;
        height: 90px;
    }
    
    .rectangle-button {
        width: 130px;
        height: 90px;
    }

    .for-1440, .for-450-max {
        display: none;
    }

    .for-1920 {
        display: block;
        font-size: var(--size-standard);
        font-weight: 400;
    }

    /* Caixa Mutável */
    .mutable-box {
        width: 650px;
        height: 650px;
        font-size: var(--size-big);
    }

    .copy-button {
        font-size: var(--size-medium);
        padding: 1rem 1.5rem;
        border-radius: 5px;
        box-shadow: 0 6px 7px var(--black-green);
    }

    /* Tamanhos diferentes para a caixa */
    .square-shape {
        width: 650px;
        height: 650px;
    }
    
    .rectangle-shape {
        width: 1000px;
        height: 650px;
    }
}

/* Mobile */

@media screen and (max-width: 450px) {
    /* Corpo da Página */
    body {
        grid-template-rows: 10% 90%;
        align-items: center;
        justify-content: center;
    }
    
    /* Intro da página */
    .intro {
        border-bottom: 2px solid var(--dark-green);
        box-shadow: 0 4px 6px var(--very-dark-green);
        gap: 0;
    }
    
    .page-title {
        font-size: calc(var(--size-small) * 2);
        /* margin-bottom: 1rem; */
        font-weight: 500;
    }

    .division {
        display: none;
    }

    /* Conteúdo Principal*/
    .content-container {
        height: 100%;
        width: 100%;
        grid-template-areas: 
            'input'
            'box'
            ;
        grid-template-rows: 40% 60%;
        grid-template-columns: 1fr;
        padding: 1.2rem 1.5rem;
        row-gap: 1rem;
    }

    /* Painel de controle */
    .control-panel {
        height: 100%;
        gap: 1.7rem;
        background-color: var(--very-dark-green);
        padding: 1.5rem;
        border-radius: 5px;
    }

    /* Controles do border-radius*/
    .range-input{
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1.5rem; 
    }

    .border-input::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
        border-radius: 100%;
    }

    /*Controles do tamanho */
    .sizing-input {
        width: 100%;
    }

    .for-1440, .for-1920 {
        display: none;
    }

    .for-450 {
        display: block;
        font-size: var(--size-small);
    }

    .square-button {
        width: 60px;
        height: 60px;
    }

    .rectangle-button {
        width: 90px;
        height: 60px;
    }

    /* Caixa Mutável */
    .mutable-box {
        width: 300px;
        height: 300px;
        row-gap: 1.5rem;
        font-size: calc(var(--size-standard) + 4px);
    }

    .copy-button {
        font-size: calc(var(--size-standard) + 4px);
        padding: .5rem 1rem;
        border-radius: 5px;
        box-shadow: 0 4px 6px var(--black-green);
    }

    /*Tamanhos diferentes para a caixa*/
    .square-shape {
        width: 300px;
        height: 300px;
    }

    .rectangle-shape {
        width: 400px;
        height: 300px;
    }
    
}